# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore cache of mypy static checker
.mypy_cache/

# Code indexing
tags
GPATH
GRTAGS
GTAGS

# Directory created by the tests
tests/integration/workdir
