[MASTER]
init-hook="from pylint.config import find_default_config_files; import os, sys; sys.path.append(os.path.dirname(next(find_default_config_files()).as_posix()))"
load-plugins=pylint.extensions.no_self_use

[BASIC]
good-names=torizoncore-builder,ex

[TYPECHECK]
ignored-modules=py

[MESSAGES CONTROL]
disable=
    consider-using-f-string,
    cyclic-import,
    duplicate-code,
    logging-fstring-interpolation,
    unsubscriptable-object

[DESIGN]
max-positional-arguments=5
max-args=10
max-branches=18
max-statements=60
max-module-lines=1500
