[MASTER]
init-hook="from pylint.config import find_pylintrc;import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
[LOGGING]
logging-format-style=new
[BASIC]
good-names=torizoncore-builder,ex
[TYPECHECK]
ignored-modules=py
[MESSAGES CONTROL]
# Settings as used in moses:
disable=logging-fstring-interpolation,unsubscriptable-object,cyclic-import,duplicate-code
[DESIGN]
max-args=8
max-branches=18
max-statements=60
